$primary: #FF5C00;
$secondary: #9C9797;
$black: #0F0F0F;
$dark: #1B1818;
$light: #E8E8E8;
$ozone-color: #005BFF;


$font-family-base: 'Graphik', sans-serif;

// spacers
$spacer: .2rem;
$spacers: (
        0: 0,
        4: $spacer,
        8: ($spacer * 2),
        12: ($spacer * 3),
        16: ($spacer * 4),
        20: ($spacer * 5),
        24: ($spacer * 6),
        32: ($spacer * 8),
        40: ($spacer * 10),
        48: ($spacer * 12),
        64: ($spacer * 16),
        80: ($spacer * 20),
        100: ($spacer * 25)
);
$grid-gutter-width: 20px !default;
$grid-breakpoints: (
        xs: 0,
        sm: 480px,
        md: 768px,
        lg: 1024px,
        xl: 1280px,
        xxl: 1728px
);
//$custom-gutter-widths: (
//        sm: 10px,
//        md: 10px,
//        lg: 20px,
//        xl: 20px,
//        xxl: 20px,
//);

$container-max-widths: (
        sm: 420px,
        md: 720px,
        lg: 960px,
        xl: 1380px,
        xxl: 1668px
);

$card-border-radius: 1rem;
$card-spacer-y: 2.5rem;
$card-spacer-x: 2.5rem;