
@import 'var';
// header
.navbar {
  color: white;
  font-size: 20px;
  line-height: 1;
  .container {
    width: auto;
  }
  .nav-item {
    margin-left: 64px;
  }
  .nav-link {
    color: $light;
    &:hover, &:focus {
      color: $primary;
    }
  }
}
body {
  font-family: "Graphik LC", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 112%; /* 26.88px */
}
// hero block
.card {
  //border-radius: 1rem;
}
.hero-block {
  position: relative;
  overflow: hidden;
  .hero-hdr {
    font-size: 84px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    max-width: 60%;
  }
  .hero-bg-img {
    position: absolute;
    bottom: -3rem;
    left: -1rem;
    z-index: 0;
  }
  .main-banner {
    position: absolute;
    right: 0;
    max-width: 100%;
    animation-name: main-drone;
    animation-iteration-count: infinite;
    animation-duration: 6s;
  }
  .body-txt {
    width: 40%;
  }
  .card-body {
    z-index: 1;
  }
}
@keyframes main-drone {
  0% {
    bottom: -4%;
  }
  50% {
    bottom: 6%;
  }
  100% {
    bottom: -4%;
  }
}

.numbers {
  font-size: 130px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -17.5px;
}


  .socialmedia {
    .card.bg-light {
      height: 143px;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), -13px 21px 53px 0px rgba(0, 0, 0, 0.10), -51px 82px 97px 0px rgba(0, 0, 0, 0.09), -115px 185px 131px 0px rgba(0, 0, 0, 0.05), -205px 329px 155px 0px rgba(0, 0, 0, 0.01), -321px 513px 169px 0px rgba(0, 0, 0, 0.00);
      .card-body {
        padding: 24px;
        img {
          position: absolute;
          bottom: 24px;
        }
      }
    }
  }


.accsessories {
  .body-txt {
    max-width: 60%;
  }
}

.accsessories, .bg-blue, .bg-dark {
.title {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  color: white;
}
.body-txt {
  color: white;
}
}

//шрифты
.txt-18 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: white;
}
.body-txt {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
}
.txt-32 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  color: white;
}
.txt-50 {
  font-size: 50px;
  font-weight: 700;
  line-height: .9;
  color: #E7E9EB;
  margin-bottom: 0;
}
.txt-84 {
  font-size: 84px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  color: white;
}
.bg-light {
  .body-txt {
    color: $black;
  }
}
//кнопки
.btn.btn-primary, .btn.btn-ozone, .btn.btn-dark {
  padding: 16px 57px;
  justify-content: center;
  align-items: center;
  border-radius: 30px ;
  font-size: 20px ;
  font-weight: 400;
  line-height: 1;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), -1px 3px 6px 0px rgba(0, 0, 0, 0.10), -4px 10px 11px 0px rgba(0, 0, 0, 0.09), -9px 23px 15px 0px rgba(0, 0, 0, 0.05), -16px 40px 17px 0px rgba(0, 0, 0, 0.01), -25px 63px 19px 0px rgba(0, 0, 0, 0.00);
}
.btn-primary {
  color: white !important;
}

.bg-pattern.bg-gray-dark {
  background-color: #343434;
}
.bg-blue {
  background: linear-gradient(0deg, #073E9D 0%, #073E9D 100%), #0E5ACC;
  .hero-bg-img {
    z-index: 1;
  }
  .orange {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
  }
  .bg-light-gradient {
    border: 1px solid rgba(217, 217, 217, 0.50);
    background: linear-gradient(133deg, #D9D9D9 -136%, rgba(217, 217, 217, 0.00) 89.92%);
    mix-blend-mode: soft-light;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), -13px 21px 53px 0px rgba(0, 0, 0, 0.10), -51px 82px 97px 0px rgba(0, 0, 0, 0.09), -115px 185px 131px 0px rgba(0, 0, 0, 0.05), -205px 329px 155px 0px rgba(0, 0, 0, 0.01), -321px 513px 169px 0px rgba(0, 0, 0, 0.00);
    img {
      position: relative;
      max-width: 100%;
    }
    .card-body {
      padding: 75px 40px;
    }
  }
  .body-txt {
    width: 80%;
  }
}

.soccer {
  .card-body {
    padding-top: 250px;
  }
  .body-txt {
    max-width: 70%;
  }
  .txt-18 {
    max-width: 80%;
  }
}
.chat {
  position: relative;
  background-color: #2C2C2C;
  border-radius: 58px;
    .body-txt p {
      margin-bottom: 0;
      //text-wrap: nowrap;
    }
    .tail {
      position: absolute;
      left: 20px;
      bottom: -20px;
    }
    .gif {
      width: 50px;
      height: 50px;
    }
}

.card.experts {
  position: relative;
  object-fit: cover;
  overflow: hidden;
  img.experts-bg-img {
    position: absolute;
    bottom: -50px;
    //max-width: 100%;
   width: 100%;
    z-index: 1;
  }
  .txt-84, .body-txt {
    width: 60%;
  }
  .card-body {
    padding-top: 130px;
    padding-bottom: 120px;
    z-index: 2;
  }
  //.swag {
  //  position: absolute;
  //  width: 246px;
  //  right: 22.5%;
  //  top: 9%;
  //}
}
hr {
  color: $secondary !important;
  opacity: 1 !important;
}
.drones-animation {
  position: relative;
  object-fit: contain;
  overflow: hidden;
  height: 369px;
  #drones {
    position: absolute;
    top: 0;
    display: block;
    max-width: 100%;
    height: 100%;
    animation-name: drones;
    animation-iteration-count: infinite;
    animation-duration: 6s;
  }
}
@keyframes drones {
  0%{
    left: 15%;
  }
  50% {
    left: 25%;
  }
  100% {
    left: 15%;
  }
}

.why {
  .body-txt {
    width: 86%;
  }
  .card {
    border: 0;
    height: 100%;
  }
  .gif {
    width: 130px;
  }
  .icon {
    width: 35px;
  }
  .why-icons {
    max-width: 100%;
    display: block;
    width: 60%;
    margin-top: 48px;
    margin-bottom: 24px;
  }
}
/* слайдер */
.splide__arrow.flytrox-arrow {
  background: transparent;
  padding: 0 36px;
  margin: 0 12px;
  svg {
    stroke: $primary;
    fill: transparent;
  }
  span {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
  }
}
.splide__arrows {
  position: relative;
  top: 36px;
}
.slide-img-main {
  position: relative;
  object-fit: cover;
  object-position: center;
  height: 416px;
  overflow: hidden;
  margin-bottom: 32px;
  text-align: center;
  img {
  position: relative;
    max-width: 100%;
    height: 100%;
  }
}
h3, .h3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.slider-tabs {
  .nav-link.slider-tab {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 112%; /* 26.88px */
    color: $secondary;
    padding: 0;
    &.active {
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: $black;
    }
  }
}
.slider-price {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card-info {
  .card-info-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 112%; /* 17.92px */
    height: 38px;
    overflow: hidden;
    position: relative;
    //transition: height .2s ease;
    &.more {
      height: 100%;
      //transition: height .2s ease;
      &:after {
        background: transparent;
      }
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    }
  }

}

.read-more {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 112%; /* 17.92px */

}
.drone-attr-item {
  padding-left: 16px;
  margin-left: 16px;
  border-left: 2px solid $primary;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  margin-bottom: 12px;
  &:first-child {
    border-left: none;
    padding-left: 0;
    margin-left: 0;
  }
}
.cover-bg.bg-gray-dark, .card.bg-gray-dark {
  background-color: #343434;
}
#output {
  transition-timing-function: ease-out;

}
.btn.btn-ozone {
  border: 1px solid $ozone-color;
  color: $ozone-color;
  &:hover {
    background-color: $ozone-color;
    color: white;
  }
}
.splide__track {
  border-radius: 16px;
}
ul.thumbnails {
  padding: 0;
  display: flex;
  .name {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
  }
  .thumbnail:hover {
    cursor: pointer;
    opacity: .95;
  }
  .thumbnail.is-active .name {
    color: #9C9797;
  }
  .price {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 112%; /* 26.88px */
  }
  .card {
    max-height: 396px;
    height: 25vw;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    object-position: top;
    img {
      position: absolute;
      max-width: 100%;
      z-index: 1;
    }
    .card-body {
      z-index: 2;
      display: flex;
      flex-direction: column;
      height: 100%;
      .name {
        margin-top: auto;
      }
    }
  }
}

.hdr-group {
  padding: 0px 40px;
}
.feedback-group {
  .feedback-ava {
    height: 45px;
    width: 45px;
    max-width: 45px;
    min-width: 45px;
    position: relative;
    object-fit: cover;
    object-position: center;
    margin-right: 12px;
    img {
      position: relative;
      max-width: 100%;
      width: 100%;
      height: 100%;
    }
  }
  .feedback-name {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $secondary;
  }
  .feedback-screen {
    border-radius: 16px;
    max-width: 100%;
    width: 100%;
  }
}
.bg-pattern, .card.bg-pattern {
  position: relative;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  .bg-img {
    position: absolute;
    width: auto;
    // height: 100%;
    z-index: 1;
  }
  .card-body {
    z-index: 2;
  }
}
.partners-num {
  border-bottom: 2px solid $primary;
  padding-bottom: 20px;
  max-width: 270px;
  img {
    max-width: 100%;
    display: block;
  }
  p {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 112%; /* 26.88px */
  }
}
.military {
  border-radius: 150px 16px 16px 150px;
  overflow: hidden;
  padding: 40px;
  max-width: 1364px;
  width: 90%;
  float: right;
  margin-bottom: 200px;
  .military-img {
    max-width: 100%;
    max-height: 210px;
  }
}
.drone-bg {
  border-radius: 16px;
  position: absolute;
  right: 0;
  bottom: 188px;
  width: 745px;
  height: 209px;
  background: #2E2E2E;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), -8px 8px 24px 0px rgba(0, 0, 0, 0.10), -31px 31px 44px 0px rgba(0, 0, 0, 0.09), -69px 71px 60px 0px rgba(0, 0, 0, 0.05), -123px 126px 71px 0px rgba(0, 0, 0, 0.01), -193px 197px 77px 0px rgba(0, 0, 0, 0.00);
}
.partners-drone {
  position: absolute;
  max-width: 100%;
  z-index: 2;
  right: -22%;
  bottom: 10%;
}
.gallery-grid {
  .gallery-first-row {
    height: 690px;
    overflow: hidden;
  }
  .gallery-20 {
    width: 20%;
    max-width: 20%;
    min-width: 20%;
  }
  .gallery-35 {
    width: 35%;
    max-width: 35%;
    min-width:35%;
  }
  .gallery-45 {
    width: 45%;
    max-width: 45%;
    min-width: 45%;
  }
  .gallery-img {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
    width: 100%;
    img {
      display: block;
      //position: absolute;
      max-width: 100%;
      width: 100%;
    }
  }
}
.gallery-img {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
  width: 100%;
  img {
    display: block;
    //position: absolute;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.gallery-img.flytrox {
  position: relative;
  z-index: 0;
  #flytrox-img {
    //position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    max-width: 100%;
  }
  #flytrox-logo {
    position: absolute;
    bottom: 20px;
    max-width: 100%;
    width: 100%;
    svg {
      width: 100%;
    }
  }
}
footer {
  a {
    text-decoration: none;
    color: $secondary;
    font-size: 18px;
    &:hover {
      color: $primary;
    }
  }
}
.skillbox {
  position: relative;
  overflow: hidden;
  .bg-man {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    max-width: 100%;
    width: 48%;
  }
  .card-body {
    z-index: 3;
  }
}
#skillbox-logo {
  max-width: 100%;
}
@import '../../node_modules/bootstrap/scss/bootstrap';

@include media-breakpoint-down(xxl) {
  .hero-block {
    .hero-hdr {
      max-width: 70%;
    }
    .main-banner {
      width: 60%;
    }
    .hero-bg-img {
      height: 60%;
    }
  }
  .body-txt {
    font-size: 20px;
  }
  .txt-50 {
    font-size: 40px;
  }
  .numbers {
    font-size: 104px;
  }
  .socialmedia .card.bg-light {
    height: 119px;
    .card-body {
      padding: 16px;
      img {
        width: 48px;
        max-height: 32px;
      }
    }
  }
  .skillbox {
    .txt-50 {
      max-width: 70%;
    }
  }

  .soccer .card-body {
    padding-top: 150px;
  }
  .txt-84 {
    font-size: 72px;
  }
  .drones-animation {
    height: 240px;
  }
  .why .gif {
    width: 100px;
  }

  .drone-bg {
    width: 44%;
    height: 12vw;
    bottom: 2vw;
  }
  .partners-drone {
    width: 75%;
    bottom: 0;
  }
  .military {
    margin-bottom: 100px;
  }
  .why .bg-pattern .bg-img, .why .card.bg-pattern .bg-img {
    .bg-img {
      max-width: 100%;
      top: -2rem;
    }
  }
}
@include media-breakpoint-down(xl) {
  .navbar {
    font-size: 18px;
    .nav-item {
      margin-left: 48px;
    }
    .container {
      width: auto;
    }
  }

  ul.thumbnails .card {
    max-height: 240px;
    height: 25vw;
  }
  .hero-block .hero-hdr {
    max-width: 70%;
  }
  .hero-block {
    .hero-hdr {
      font-size: 56px;
    }
    .body-txt {
      width: 48%;
    }
  }
  .body-txt {
    font-size: 16px;
  }
  .txt-50 {
    font-size: 28px;
  }
  .numbers {
    font-size: 60px;
    letter-spacing: -10.5px;
  }
  .card-body {
    padding: 24px;
  }
  .socialmedia .card.bg-light {
    height: 74px;
    .card-body {
      padding: 8px;
      img {
        bottom: 8px;
      }
    }
  }
  .btn.btn-primary, .btn.btn-ozone, .btn.btn-dark {
    padding: 14px 28px;
    font-size: 16px;
  }
  .accsessories .title, .bg-blue .title, .bg-dark .title {
    font-size: 24px;
  }
  .accsessories .body-txt {
    max-width: 80%;
  }
  .bg-blue .bg-light-gradient img {
    max-width: 60%;
  }
  .skillbox .txt-50 {
    max-width: 100%;
  }
  .bg-blue .body-txt {
    max-width: 100%;
    width: 100%;
  }
  .bg-blue .bg-light-gradient .card-body {
    padding: 48px 24px;
  }
  .soccer .card-body {
    padding-top: 60px;
  }
  .txt-84 {
    font-size: 50px;
  }
  .soccer {
    .body-txt {
      max-width: 100%;
    }
    .txt-18 {
      max-width: 100%;
    }
  }
  .txt-18 {
    font-size: 12px;
  }
  .chat .tail {
    bottom: -14px;
    max-width: 100%;
    height: 16px;
    left: 32px;
  }
  .chat .gif {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
  .card.experts .txt-84, .card.experts .body-txt {
    width: 65%;
  }
  .card.experts .card-body {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .drones-animation {
    height: 128px;
  }
  .txt-32 {
    font-size: 24px;
  }
  .why {
    .why-icons {
      margin-top: 20px;
    }
    .gif {
      width: 56px;
    }
    .body-txt {
      width: 98%;
    }
    .bg-img {
      max-width: 100%;
      top: -2rem;
    }
  }
  .feedback-group {
    .feedback-ava {
      height: 36px;
      width: 36px;
      max-width: 36px;
      min-width: 36px;
    }
    .feedback-name {
      font-size: 14px;
    }
  }
  .partners-num p {
    font-size: 16px;
  }
  .military {
    padding: 20px;
    margin-bottom: 56px;
    .military-img {
      max-height: 148px;
    }
  }

  .partners-drone {
    width: 70%;
    bottom: -54px;
  }
  .gallery-img.flytrox #flytrox-logo {
    padding: 0 10px;
  }
  footer a {
    font-size: 16px;
  }
  .drone-attr-item {
    font-size: 12px;
    padding-left: 6px;
    margin-left: 6px;
  }
  .slide-img-main {
    height: 334px;
  }
  ul.thumbnails .name {
    font-size: 22px;
  }
  ul.thumbnails .price {
    font-size: 20px;
  }
}
@include media-breakpoint-down(lg) {
  .navbar{
    .container {
      width: 100%;
    }
  }
  .bg-pattern.soccer .bg-img, .card.bg-pattern.soccer .bg-img {
    opacity: 0.4;
  }
  .navbar-toggler-icon {
   background-image: none;
    display: block;
    height: 3px;
    background-color: $light;
    border-radius: 2px;
    position: relative;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background-color: $light;
      left: 0;
    }
    &:before {
      top: -8px;
    }
    &:after {
      bottom: -8px;
    }
  }
  .navbar-toggler {
    height: 48px;
    padding: 0;
  }
  .hero-block .hero-hdr {
    font-size: 44px;
  }

  .mw-lg-80 {
    max-width: 80%
  }
  ul.thumbnails {
    .card {
      height: 205px;
      .card-body .name {
        font-size: 20px;
      }
    }
    .price {
      font-size: 20px;
    }
  }
  .card-body {
    padding: 20px;
  }
  .accsessories{
    .bg-pattern .bg-img, .card.bg-pattern .bg-img {
      height: 100%;
    }
  }
  .soccer {
   .bg-img {
      height: 100%;
    }
  }
  .why .gif {
    width: 60%;
  }
  .card.experts .card-body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .txt-84 {
    font-size: 40px;
  }
  .military .military-img {
    max-height: 130px;
  }
  .partners-drone {
    bottom: -20px;
  }
  footer .logo-flytrox {
    width: 90%;
  }
}
@media (max-width: 1023px) {
  .skillbox .bg-man {
    transform: scale(-1, 1);
    left: initial;
    right: -14rem;
    width: 72%;
  }
  .skillbox .txt-50 {
    max-width: 61%;
  }
  .bg-blue .body-txt {
    max-width: 65%;
  }
  .bg-blue .bg-light-gradient img {
    max-width: 50%;
  }
  .card.experts img.experts-bg-img {
    bottom: 0;
    height: 100%;
    max-width: 100%;
  }

}
@media (max-width: 768px) {
  .socialmedia .card.bg-light {
    height: 141px;
  }
  .socialmedia .card.bg-light .card-body {
    padding: 12px;
  }
  .socialmedia .card.bg-light .card-body img {
    bottom: 12px;
    width: 50%;
    max-height: 44px;
  }
  .numbers {
    font-size: 90px;
  }
  .slide-img-main {
    height: 290px;
  }
  .btn.btn-primary, .btn.btn-ozone, .btn.btn-dark {
    padding: 12px 20px;
    font-size: 12px;
  }
  .slider-tabs .nav-link.slider-tab {
    font-size: 20px;
  }
  .slider-tabs .nav-link.slider-tab.active {
    font-size: 20px;
  }


  .bg-pattern.soccer .bg-img, .card.bg-pattern.soccer .bg-img {
    opacity: .4;
  }
  .why {
    .card {
      height: 40vw;
    }
    .bg-img {
      max-width: 100%;
      width: 100%;
    }
  }
  .hdr-group {
    padding: 0 18px;
  }
  #skillbox-logo {
    max-width: 50%;
    margin-top: 32px;
  }
  .partners-num svg {
    max-width: 26%;
  }
}
@include media-breakpoint-down(md)  {

  .hero-block .hero-hdr {
    max-width: 100%;
    font-size: 40px;
  }

  .card-body {
    padding: 12px;
  }
  .partners-num p {
    font-size: 12px;
    word-wrap: normal;
  }
  .military {
    padding: 12px;
    margin-bottom: 32px;
    .military-img {
      max-height: 100px;
    }
  }

  .card.experts img.experts-bg-img {
    //width: auto;
  }
  .card.experts .txt-84, .card.experts .body-txt {
    width: 90%;
  }
  .why .icon {
    width: 20px;
  }
  .why .body-txt {
  font-size: 12px;
  }
  .why .bg-pattern .bg-img, .why .card.bg-pattern .bg-img {
  width: 100%;
  }
  .hdr-group {
    padding: 0px 12px;
  }
  footer .contacts {
    .txt-18 {
      font-size: 16px;
    }
  }
  .socialmedia .card.bg-light {
    height: 141px;
  }

}
@media (max-width: 480px) {
  .mw-lg-80 {
    max-width: 100%;
  }
  .txt-50 {
    font-size: 24px;
  }
  .hero-block .body-txt {
    width: 66%;
  }
  .hero-block .main-banner {
    width: 100%;
    right: -7rem;
  }
  @keyframes main-drone {
    0% {
      bottom: 20%;
    }
    50% {
      bottom: 30%;
    }
    100% {
      bottom: 20%;
    }
  }
  .hero-block .hero-bg-img {
    height: 42%;
    bottom: -1rem;
    left: -4rem;
  }
  .card-body {
    padding: 24px;
  }
  .body-txt {
    font-size: 14px;
  }
  .numbers {
    font-size: 55px;
  }
  .socialmedia .card.bg-light {
    height: 61px;
  }
  .slider-tabs .nav-link.slider-tab.active {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .slider-tabs .nav-link.slider-tab {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .slide-img-main {
    height: 180px;
  }
  #thumbnails {
    display: none;
  }
  .skillbox .bg-man {
    transform: scale(-1, 1);
    left: initial;
    right: -14rem;
    width: 100%;
  }
  .skillbox .txt-50 {
    max-width: 80%;
  }
  .bg-blue .body-txt {
    max-width: 95%;
  }
  .card.experts img.experts-bg-img {
    left: -26rem;
    height: 600px;
    width: initial;
    bottom: 0;
    max-width: initial;
    opacity: .6;
  }
  .card.experts .card-body {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .card.experts .body-txt {
    width: 100%;
  }
  .why .why-icons {
    margin-top: 0;
    width: 52%;
    margin-bottom: 0;
  }
  .why .body-txt {
    font-size: 11px;
    width: 100%;
  }
  .why .bg-pattern .bg-img, .why .card.bg-pattern .bg-img {
    top: -2rem;
  }
  .partners-num {
    padding-bottom: 0;
  }
  .military {
    width: 100%;
    margin-bottom: 100px;
    .military-img {
      max-height: 118px;
    }
  }
  .drone-bg {
    width: 80vw;
    height: 23vw;
    bottom: 2vw;
  }
  .partners-drone {
    bottom: -30px;
    width: 100%;
    right: -8rem;
  }
  .chat .gif {
    display: none;
  }
  .bg-pattern.soccer .bg-img, .card.bg-pattern.soccer .bg-img {
    left: -10rem;
  }
}